*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}
body{
    background-color:white;
    
}

h1{
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    color:blue;
    
}
.container{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    border: 2px solid black;
    height: 500px;
    width: 600px;
    margin: 20px  auto;
    background-color:blue ;

}
#time{
text-align: center;
}
.memory{
    border: 2px solid black;
    text-align: center;
   
   
    
}
.front{
    width: 100px;
    height: 100px;
    justify-items: center;
   
}
.hard{
   
    margin: 20px auto;
    text-align: center;
   
}
.option{
   
    text-align: center;
}
.one{
    background-color: blue; 
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: bold;
}
.two{
    background-color: blue; 
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: bold;
}
.medium{
    font-weight: bold;
    font-family: sans-serif;

}
.hard{
    font-weight: bold;
    font-family: sans-serif;
}
p{
    font-weight: bold;
    font-family: sans-serif;
}


